header {
	width: 100%;
	height: 50px;
	background-color: #000;
	top: 0;
	position: relative;
	.navbar {
		background-color: red;
		width: 50px;
		height: 20px;
		.navbar-brand {
			img {

			}
		}
	}

}

.container {
	background-color: $cinza-claro;
	width: 100%;
	.anuncios {
		.cards-destaque {
			text-align: center;
			h1 {
				margin: 0 auto;
				text-transform: uppercase;
				font-size: 40px;
			}
			.card-item {
				border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
				border: 7px solid $verde-claro;
				height: auto;
				display: inline-block;
				.card-apresentacao {
					margin: 5px 20px 0 10px;
					.card-titulo {
						border-bottom: 2px solid $preto;
						color: $branco;
						text-transform: uppercase;
						margin: 10px 10px;
						padding: 5px;
					}
					img {
						height: auto;
						width: 100%;
						padding: 5px;
					}
				}

				.legenda {
					border-top: 2px solid $verde;
					ul {
						li {
							list-style: none;
						}
					}
				}
			}
		}
	}
}